// Minimal component styles - mostly using Tailwind CSS

// Only keep essential PrimeNG overrides that can't be achieved with Tailwind
::ng-deep .p-inputtext {
  &.p-invalid {
    @apply border-red-500 focus:ring-red-500/20 focus:border-red-500;
  }
  
  &:focus {
    @apply border-primary-500 ring-2 ring-primary-500/20;
  }
}

// PrimeNG button overrides for full width
::ng-deep .p-button {
  &.w-full {
    @apply justify-center;
  }
}
